<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h3>vue指令: v-if</h3>
	<div id="app">
		<!-- 3.创建View -->
		{{ message }}
		<h3 v-if="yes">yes</h3>
		<!-- v-if若等于true，则正常显示，若v-if为false，则会将此行代码删除并添加注释 -->
		<h3 v-if="no">no</h3>
		<h3 v-if="age > 28">age:{{age}}</h3>
		<h3 v-if="name.indexOf('o') >= 0">name:{{name}}</h3>
	</div>

	<script src="js/vue.min.js"></script>
	<script>
		//1.创建model
		var exampleData = {
			message: "Hello Vue",
			yes: true,
			no: false,
			age: 28,
			name: "lion"
		};
		//2.创建Vue(ViewModel)
		new Vue({ 
			el: "#app",
			data: exampleData
		});
	</script>	
</body>
</html>